
.example-card {
    margin: 5px;
}


  img[mat-card-image]{
      max-width: 300px;
      margin: 10px;
  }


.vitrin{
    margin: 20px;
}

button{
    margin-left: 5px;
}

.description{
    font-size: 10pt;
    margin-top: 20px;
}

.details{
    margin-top: 20px;
}


.nemkaphato{
    margin-top: 5px;
}




