
<!-- <div class="row" *ngIf="loading">
  <div class="col-md-2 offset-md-5">
      <mat-spinner></mat-spinner>
  </div>
</div> -->
<div class="row">
  <div class="col-md-6 offset-md-3">

    <div class="row fejlec">
      <button mat-mini-fab color="primary" (click)="vissza()" matTooltip="Vissza" type="button">
        <mat-icon>arrow_back</mat-icon>
      </button> 
      <div class="title">Kosár</div>
      <button mat-raised-button color="warn" (click)="deleteCart()" class="deleteCart" *ngIf="dataService.cartItems.length > 0">Kosár törlése</button>
    </div>
    <form #f="ngForm">
      <div class="row" *ngFor="let ci of dataService.cartItems">
        <div class="col-md-12">
          <mat-card class="example-card">
            <div class="row">
              <div class="col-md-2">
                <img mat-card-image [src]="getImagePath(ci.volume)"  alt="Kép" >
              </div>
              <div class="col-md-3">
                <div class="bookTitle">{{ci.volume.volumeInfo.title}}</div>
                <span class="subtitle">Szerző: </span>
                <mat-chip-list>
                    <mat-chip *ngFor="let author of ci.volume.volumeInfo.authors">{{ author }}</mat-chip>
                </mat-chip-list>
              </div>
              <div class="col-md-3">

                <button mat-icon-button (click)="balra(ci)">
                  <mat-icon>navigate_before</mat-icon>
                </button>

                <span class="subtitle">Darab: </span>{{ci.db}}

                <button mat-icon-button  (click)="jobbra(ci)">
                  <mat-icon>navigate_next</mat-icon>
                </button>
               
              </div>
              <div class="col-md-3">
                  <span class="subtitle">Egységár ({{ci.volume.saleInfo.retailPrice.currencyCode}}): </span>{{ci.egysegar}}
                  <span class="subtitle">Összár ({{ci.volume.saleInfo.retailPrice.currencyCode}}): </span>{{ci.osszar}}
              </div>
              <div class="col-md-1">
                <button mat-mini-fab color="warn" (click)="deleteCartItem(ci)" matTooltip="Törlés" type="button">
                  <mat-icon>delete</mat-icon>
                </button> 
              </div>
            </div>
          </mat-card>
        </div>
      </div>
    </form>

    <div class="title" *ngIf="dataService.cartItems.length > 0">Végösszeg: {{getVegosszeg()}} HUF
        <button mat-raised-button color="primary" *ngIf="dataService.cartItems.length > 0" [disabled]="!f.valid" (click)="buy()">
            Megvesz
         </button>
    </div>
   

  </div>
</div>
