button[mat-mini-fab]{
    margin-right: 10px;
} 

.example-card {
    margin: 5px;
   
}


img[mat-card-image]{
    max-width: 100px;
    margin-top: 10px;
    margin-left: 10px;
}

.fejlec{
    margin-top: 10px;
}

.deleteCart{
    margin-left: 20px;
}