<div class="row">
  <div class="col-md-2">
    <mat-form-field>
      <input matInput placeholder="Keresés" id="filter" name="filter" [(ngModel)]="filter" (keydown.enter)="search()">
    </mat-form-field>
  </div>
  <div class="col-md-2">
    <button mat-raised-button type="button" color="primary" (click)="search()">Keres</button>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam laboriosam veritatis esse natus, nesciunt tenetur. Ex repudiandae alias voluptatem cupiditate ea id aperiam. Quo labore iure laboriosam asperiores, animi itaque aliquam rerum illo placeat, consequuntur sint maiores aliquid deserunt consequatur eos eaque cumque hic sed molestiae? Maiores fugit amet eos aspernatur excepturi. Harum quas distinctio minus repellat nisi voluptatem velit illo possimus aspernatur non pariatur voluptates placeat vitae molestias, ipsa incidunt eum culpa delectus aliquam et ratione, dolores expedita exercitationem! Nesciunt cum eos consectetur ad blanditiis facere totam, id ipsum accusantium cupiditate, quibusdam esse cumque incidunt illo autem nam explicabo.
  </div>
</div>




